/* UI do Zoom */
#aladin-lite-div .aladin-fov {
  visibility: visible !important;
}

/* UI do viewer */
#aladin-viewer {
  visibility: visible !important;
}

/* UI da localização RaDec */
#aladin-lite-div .aladin-location {
  visibility: visible !important;
}
